body {
	border-radius: 15px;
	box-shadow: 0 0 7px 3px #000000;
	text-indent: 20px;
	padding: 10px 20px 10px 20px;
	margin: 20px auto;
	width: 350px;
	text-align: center;
}

input {
	text-align: center;
	font-family: 'Times New Roman';
}

p {
	font-family: 'Times New Roman';
	color: black;
	text-align: center;
}