<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
	  <script src="https://code.jquery.com/jquery-3.6.1.min.js"></script>
	  <script src="https://cdn.jsdelivr.net/npm/jquery.maskedinput@1.4.1/src/jquery.maskedinput.min.js" type="text/javascript"></script>
	  <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static', filename='css/style.css') }}">
  </head>
  <body>
    <p>{{information}}</p>
    <p>{{checkingDatabaseSerial}}</p>
    <p>{{checkingCorrectnessSerial}}</p>
    <form action="/" method="post">
	    <p><label for="serialForm">Ввод:</label> 
	    <input type="text" id="serialForm" name="serialForm" minlength="14" maxlength="14" required/>
	    <input type="submit" value="Найти"/>
    </form>
    <form action="/" method=post enctype=multipart/form-data>
	    <p><input type=file name=file>
		   <input type=submit value=Загрузить>
     </form>
    <script>
      $(function(){
        $("#serialForm").mask("999 999 999 99");
      });
    </script>
  </body>
</html>